/*$mainBlue: #2f5572;*/
$mainBlue: #798EF6;
$mainOrange: #d59541;
$mainPink: #ff8888;
$darkBlue: #173348;
$lightOrange: #fabb69;


$lightest: #DDE3FD;
$lightBlue: #798EF6;
$medBlue: #183BF0;
$darkBlue: #0A2299;
$darkest: #091034;